body {
    margin: 0px;
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-padrinan-255379.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.task-area {
    border: 1px solid lightgray ;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightgray ;
    position: relative;
}


/* box size 키울때 */
.task-tabs div { 
    padding : 1em;
    cursor: pointer;
}

#under-line { 
    background-color: lightcoral;
    position: absolute;
    height: 4px;
    top: 53px;
    width: 60px;
    left: 0px;
    padding:0px;  /* padding 기본값이 8px 로 안하면 얇아지지 않음음*/
}

.task {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.task-size {
    padding: 1em;
}

.task-done {
    text-decoration: line-through;
    background-color: lightgray;
}

.button-box {
    display: flex;
}


.button-box button{
    height: 100%;
    width: 4em;
    margin: 0;
    border: none;
    background-color: white;
    transition: 0.5s;
}

.fa-check {
    color:limegreen
}

.fa-trash-can {
    color: red;
}

.fa-rotate-right {
    color: lightslategray;
}